body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
                                        /* background-color: #2A3439; */
                                        /* background-color: #36454F; */
    /* background-color: #1C1C1C; * main color/
    /* color:rgb(160, 160, 160); */
    /* color: #00FFFF; */
    /* color: #00E5EE; 
    new light color
    /* background-color:#F8F9FA; */
    background-color: #E6DDE3;
    color: #2E3A47;
}
/* media query one */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #E6DDE3;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
}

#characterImage {
    width: 250px;
    height: 300px;
    object-fit: contain;
    transform: scale(0); 
    opacity: 0;
    transition: transform 1s ease;
}

.loading-bar {
    width: 60%;
    height: 10px;
    background: #444;
    margin-top: 20px;
    position: relative;
}

.progress {
    width: 0;
    height: 100%;
    background: #7DF9FF;
}

.start-button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #7DF9FF;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    opacity: 0; 
    transition: opacity 0.5s ease;
}

main {
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.heroSect {
    border-radius: 75px;
    width: 90%;
    height: 631px;
    margin-top: 39px;
    display: grid;
    border: 2px solid black;
    transform: scale(.8);
}
.stars {
    color: yellow;
}

.hidear {
    width: 100%;
    height: 50px;
    position: relative;
    top: 430px;
}
.power {
    width: 100%;
    height: 32px;
    position: relative;
    top: 220px;
}
.wrongPower {
    width: 100%;
    height: 10px;
    position: relative;
    top: 960px;
}

/* Sticky bottom navbar styling */
.sticky-bottom-navbar {
    position: fixed;
    top: 18px;
    left: 500px;
    width: 24%;
    background-color: #E6DDE3;
    color: #2E3A47;
    text-align: center;
    z-index: 100;
    border-radius: 20px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 10px inset black;
    z-index: 99999;
}

.sticky-bottom-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.sticky-bottom-navbar ul li {
    margin: 0 15px;
}

.sticky-bottom-navbar ul li a {
    text-decoration: none;
    color: #2E3A47;
    font-size: 18px;
}

.sticky-bottom-navbar ul li a:hover {
    color: #2E3A47;
}

.sticky-bottom-navbar.hide {
    transform: translateY(-100%);
}
/* new website code */

#videoHero {
    border-radius: 196px;
    width: 77%;
    height: 99.5%;
    border-radius: 196px;
    position: relative;
    left: 111px;
    top: 70px;
    transform: scale(.1);
}

.fontSectDiv {
    position: relative;
    top: -390px;
    text-align: center;
    text-shadow: 0 5px 5px rgb(120, 112, 112);

}
.fontSectDiv h2 {
    position: relative;
    top: -259px;
    font-size: 30px;
    color: #f0f7ff;
}
.heroSect h1 {
    font-size: 54px;
    position: relative;
    top: -290px;
    color: #f0f7ff;
}
.fontSectDiv h4 {
    position: relative;
    top: -254px;
    color: #f0f7ff;
}
.fontSectDiv button {
    position: relative;
    top: -250px;
    padding: 20px;
    font-size: 25px;
    border-radius: 10px;
}

#page2 {
    margin-top: 200px;
    margin-bottom: 50px;
    background-color: lightcoral;
    padding: 10px;
    border-radius: 20px;
    transform: scale(.95);
    background: url('https://static1.squarespace.com/static/5244bc31e4b0d312c8099ac4/t/558ad4eae4b07586afc70799/1435161837235/ORGANIZATIONAL+RE-ORGANIZATION+(OR).jpg?format=1500w');
    filter:blur(5);
    object-fit: contain;
    
}
.brandIntroduction div {
    row-gap: 1.5rem;
    display: grid;
    margin-bottom: 20px;
}

.define {
    border-radius: 20px; 
    padding: 10px;
    color: white;
    font-size: 20px;
    background-color: rgba(128, 128, 128, 0.526);
}

.Objective {
    border-radius: 20px; 
    padding: 10px;
    color: white;
    font-size: 20px;
    background-color: rgba(128, 128, 128, 0.526);
}
.Vision {
    border-radius: 20px; 
    padding: 10px;
    color: white;
    font-size: 20px;
    background-color: rgba(128, 128, 128, 0.526);
    margin-bottom: 20px;
}
.Features {
    border-radius: 20px; 
    padding: 10px;
    color: white;
    font-size: 20px;
    background-color: rgba(128, 128, 128, 0.526);
}

.firstPart {
    margin-bottom: 10px;
}
#leftSide {
}

/* projection area */

.projectionRevealSection {
    height: 800px;
    width: 100%;
    text-align: center;
    display: flex;
    position: relative;
    left: 24px;
}
.roadMap {
    display: flex;
    gap: 3rem;
    align-items: center;
    padding: 15px;
    transform: scale(0.8);
    position: relative;
    left: -85px;
    top: -140px;
}
.roadMap div{
    height: 152px;
    width: 300px;
    border-radius: 30px;
    background-color: #DFF7F2;
    position: relative;
    top: -50px;
    gap: 7rem;
    display: grid;
}
.roadMap img {
    transition: .5s ease;
    position: relative;
    top: -122px;
    left: 107px;
    height: 78px;
}
.roadMap img:hover {
        animation: shake 0.3s;
    }
    
    @keyframes shake {
        0%, 100% { transform: translateX(0); }
        25%, 75% { transform: translateX(-4px); }
        50% { transform: translateX(4px); }
    }
    .roadMap h1 {
        transition: .5s ease;
    }
.roadMap h1:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
}

/* reviews section */

.reviews {
    display: flex;
    margin-top: -220px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    gap: 2rem;
}
.reviews div {
    border: 2px solid black;
    padding: 20px;
    text-align: start;
    display: grid;
    justify-content: start;   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: 1.5s ease;
}
.reviews h1 {
    font-size: 15px;
}
.reviews img {
    height: 200px;
    width: 200px;
    position: relative;
    left: 50px;
    border-radius: 40px;
    transition: 1.5s ease;
    border-bottom: 2px solid green;
}
.reviews img:hover {
    transform: translateY(-80px) scale(1.3);
}

/* photo section */
.eventPictures {
    position: relative;
    left: 14px;
}
.eventPictures img {
    height: 400px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    margin-right: 10px;
    margin-top: 10px;
}
.eventPictures video {
    height: 400px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    margin-right: 10px;
    margin-top: 10px;
}

.beforeImg {
    height: 20px;
    width: 100%;
    position: relative;
    top: 50px;
}

/* list of images and videos */

/* surveydiv and map */

.form {
    display: grid;
    gap: .1rem;
}
.form input {
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
}
.firstLeft {
    display: grid;
    gap: 1rem;
}
.firstLeft input {
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 21px;
    background-color: #F3E7E1;
    box-shadow: 0 0 10px gray;
    text-align: center;
    font-weight: 100px;
    color:#6c6b6b;
    margin-right: 20px;
    margin-left: 20px;
}
.firstLeft input::placeholder {
    color:#6c6b6b
}

.left {
    display: grid;
    gap: 1rem;
}
.left input {
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 21px;
    background-color: #F3E7E1;
    box-shadow: 0 0 10px gray;
    text-align: center;
    font-weight: 100px;
    color:#6c6b6b;
    margin-right: 20px;
}
.left input::placeholder {
    color:#6c6b6b
}
.center {
    display: grid;
    gap: 1rem;
    margin-left: 10px;
}
.center input {
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 23px;
    background-color: #F3E7E1;
    box-shadow: 0 0 10px gray;
    text-align: center;
    color:#6c6b6b;
    margin-right: 20px;
}
.center input::placeholder {
    color:#6c6b6b;
    padding: 10px;
}
.right {
    display: grid;
    gap: 1rem;
    margin-left: 10px;
}
.right button {
    height: 219px;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    transition: .5s ease;
    margin-right: 20px;
    background-color: #265E5B;
}
.right button:hover {
    animation: bounce 0.3s;
    box-shadow: 0 0 5px #7DF9FF, 0 0 15px #7DF9FF, 0 0 30px #7DF9FF;
}

@keyframes bounce {
    0% { transform: scale(1); }
    50% { transform: scale(0.9); }
    100% { transform: scale(1); }

}

.cityMap {
    height: 400px;
    width: 430px;
    border-radius: 50%;     /* Circular shape */
    overflow: hidden;       /* Hides overflow */
    border: 6px solid #4e8aff;   /* Adds a subtle border */
    position: relative;     /* Needed for 3D transformation */
    background: rgba(0, 0, 0, 0.2);  /* Darken background slightly for more contrast */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);   /* Soft shadow for depth */
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    left: 55px;
}

.cityMap:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5));
    transform: translate(-50%, -50%) rotateX(30deg);
    opacity: 0.8;
    border-radius: 50%;
    z-index: -1;
}

.cityMap:hover {
    transform: scale(1.1) rotate(5deg);            /* Subtle zoom-in and rotate */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);   /* Stronger shadow for 3D effect */
    animation: rotateEarth 60s infinite linear;   /* Slow rotation effect */
}

.cityMap:hover:before {
    opacity: 1;   /* Enhance the 'Earth' glow effect on hover */
}
@keyframes rotateEarth {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.surveyDiv {
    display: flex;
    padding: 20px;
    gap: 2rem;
    width: 1000px;
    height: 470px;
    align-items: center;
    background-color: #DFF7F2;
    margin-bottom: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px inset #ffffff;
    position: relative;
    left: -35px;
    margin-top: 50px;
}
.ctaForm {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    background-color: #DFF7F2;
    border: none;
    border-radius: 10px;
    position: relative;
    left: -33px;
}

.top button {
    display: flex;
    height: 400px;
    width: 300px;
    justify-content: start;
    align-items: center;
    place-content: center;
    border: 0px;
    border-radius: 20px;
    outline: 4px outset black;
}





/* personality quiz */
#quiz-container {
    background-color: #DFF7F2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px inset #ffffff;
    text-align: center;
    width: 677px;
}

#quiz-container h1 {
}

#answer-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: #265E5B;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 0 10px inset #ffffff;}

button:hover {
    background-color: #265E5B;
}

#result {
    text-align: center;
    margin-top: 20px;
}

#personality-type {
    font-weight: bold;
    color: #007BFF;
}

.quiz {
    position: relative;
    left: -34px;
    top: 36px;
    margin-top: 50px;
    margin-bottom: 130px;

}

    /* tablate */
    @media (max-width: 1024px) {
        #quiz-container {
            width: 690px;
        }
    
}

/* smartphone */
@media (max-width: 768px) {
    #quiz-container {
        width: 457px;
    }
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: #d1e5ff;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(#333, #7DF9FF);
    border-radius: 10px;
}

.wrapper {
    position: absolute;
    width: 500px;
    transform: translate(-10%, -50%);
    top: 50%;
    left: 55%;
    display: flex;
    justify-content: space-around;
    gap: 0rem;
}
.container {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 30px;
    border-radius: 0.5rem;
    background-color: grey;
    border-bottom: 50px solid lightblue;
}
span.num {
    color: #333;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 30px;
}
span.text {
    color: lightblue;
    font-size: 20px;
    text-align: center;
    pad: 0.5em 0;
    font-weight: 400;
    line-height: 0;
}
.counterOne {
    display: grid;
    gap: 10px;
    margin-right: -80px;
}
.counterTwo {
    display: grid;
    gap: 10px;
}

/* powerring */

#powerRing {
    text-align: center;
    margin-top: 40px;
    width: 105%;
    position: relative;
    left: 21px;
    top: -58px;
}
#powerRing h1 {
    font-size: 190px;
    font-weight: 600;
}

.heroElementStarter {
    height: 20px;
    width: 100%;
    position: relative;
    top: 50px;
}

.brandName {
    font-size: 100px;
    position: relative;
    top: -100px;
    color: #f0f7ffa9;
}
.HeroImage {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    top: -426px;
}

.PhotoDivider {

}
#dividerPhotoOne {
    height: 30px;
    width: 100%;
    background-color: #007BFF;
}
#dividerPhotoTwo {
    height: 30px;
    width: 100%;
    background-color: #0e2c4d;
}
#dividerPhotoThree {
    height: 30px;
    width: 100%;
    background-color: #08583f;
}
#dividerPhotoFour {
    height: 30px;
    width: 100%;
    background-color: #18e44b;
}
/* photos of nighout */
.nightoutPhotos {
    display: grid;
    gap: 1rem;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
    background-color: white;
    padding: 20px;
}
.nightoutPhotos .one {
    display: flex;
    gap: 1rem;
}
.nightoutPhotos .two { 
    display: flex;
    gap: 1rem;
}

.nightoutPhotos img {
    height: 200px;
    width: 250px;
    border-radius: 7px;
    box-shadow: 0 0 10px black;
    transition: 1.5s ease;
}
.nightoutPhotos video {
    height: 200px;
    width: 250px;
    border-radius: 7px;
    border: 2px solid black;
    transition: 1.5s ease;
}
#page3 {
    width: 100%;
}

.nightoutPhotos img:hover {
    position: relative;
    transform: scale(1.2);
}
/* personas */

.personas {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    margin: 0 auto;
    display: grid;
    width: 100%;
    /* background-color: green; */
    padding: 10px;
}
.personas div {
    border-radius: 30px;
    margin-bottom: 40px;
    margin-right: 18px;
    width: 900px;
    padding: 20px;
    /* margin: 0 auto; */
    position: relative;
    row-gap: 2rem; 
    justify-self: center;
    align-self: center;
    background-color: #DFF7F2;
    box-shadow: 0 0 10px inset #ffffff;
    transition: .5s ease;
}
.personas div:hover {
    box-shadow: 0 0 10px darkcyan;
    background-color: #54ebca;
}
.personas img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

/* testimonials */
#testimonials {
    display: grid;
    justify-self: center;
    align-self: center;
    /* background-color: lightblue; */
    padding: 20px;
    row-gap: 2rem;
    margin-top: 50px;
    margin-bottom: 50px;
}
#testimonials div {
    border-radius: 10px;
    padding: 20px;
}
#testimonials #one {
    display: flex;
    justify-self: center;
    align-self: center;
    column-gap: 2rem;
    padding: 20px;
}   
#testimonials #one div {
    background-color: #DFF7F2;
    box-shadow: 0 0 10px inset #ffffff;
}
#testimonials #two {
    margin: 0 auto;
}
#testimonials #two {
    background-color: #DFF7F2;
    box-shadow: 0 0 10px inset #ffffff;
}
#testimonials img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

/* inscription form */
.inscription {
    display: flex;
    background-color: rgba(255, 255, 255, 0.574);
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    transform: scale(.95);
}
.inscription div {
    background-color: #DFF7F2;
}
.qrsect input {
    display: grid;
    width: 250px;
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
}
.qrsect {
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    align-content: center;
    justify-content: center;
    margin: 0px auto;
    position: relative;
    left: -50px;
    text-align: center;
}
.qrsect h3 {
    position: relative;
    left: -65px;
}
.qrsect button {
    margin-top: 20px;
    text-align: center;
}

/* qr sect */
#imgBox img {
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    margin-top: 10px;
}


/* footer */

footer {
    display: flex;
    width: 100%;
    background-color: #DFF7F2;
        height: 170px;
}
footer div {
    margin-inline: 25px;
    padding: 20px;
    border-right: 2px solid white;
}
.footerlogo {
    height: 110px;
    width: 110px;
    position: relative;
    left: -20px;
    top: 20px;
}
.socials img {
    height: 66px;
    width: 66px;
    display: inline-flex;
}
footer li {
    list-style: none;
    margin-inline: 25px;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
footer ul {
    display: inline-flex;
    position: relative;
    left: -40px;
    top: 50px;
}

footer input {
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 5px;
}

/* headers */
.organiseheader {
    top: 250px;
    left: 20px;
    position: relative;
    text-align: left;
    width: 100%;
    font-size: 70px;
}
.testiHeader {
    left: 20px;
    position: relative;
    text-align: left;
    width: 100%;
    font-size: 40px;
}
.personasHeader {
    left: 20px;
    position: relative;
    text-align: left;
    width: 100%;
    font-size: 40px;
}
.inscriptHeader {
    left: 20px;
    position: relative;
    text-align: left;
    width: 100%;
    font-size: 40px;
}
.quizHead {
    left: 20px;
    position: relative;
    text-align: left;
    width: 100%;
    font-size: 40px;
}
.hips {
    height: 20px;
    width: 100%;
    position: relative;
    top: 600px;
}

.testl {
    height: 20px;
    width: 100%;
    position: relative;
}
.inscripy {
    height: 20px;
    width: 100%;
    position: relative;
}
.personality {
    height: 20px;
    width: 100%;
    position: relative;
    top: 50px;
}

/* page 2 img */

#page2 img {
    height: 300px;
    width: 400px;
    border-radius: 20px;
}
#page2 div {
    row-gap: 2rem;
}

/* select sect */

select {
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    width: 280px;
}
